<h1>New game</h1>
<% letters = [] %>
<ul class="letters" id="letters">
  <% 10.times do |time|%>
    <li>
      <% letters << ('A'..'Z').to_a[rand(26)] %>
      <div><p><%= letters[time] %></p></div>
    </li>
  <% end %>
</ul>
<div class="guess">
  <p>What is the longest word you can find?</p>
  <form id="input-guess" action="/score" class="input-group mb-3" method="post">
    <input type="text" class="form-control" placeholder="Your guess..." name="guess">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="submit">Play</button>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <%= hidden_field_tag 'letters', letters %>
    </div>
  </form>
</div>
